# pythoneinführung
## unterüberschrift

#nö macht was er soll

*kursiv* **fett**
- punkt1
***quod?***

- punkt1

1.1 erster befehl

In [1]:
print("hallo welt!")

hallo welt!

1.2 kommentar

In [2]:
print(" aha !")

 aha !

In [3]:
"""
blubber
"""

'\nblubber\n'

In [4]:
'''4'''

'4'

In [5]:
# variable und wertezuweisung
name = "lovelace"

1.3 einfache dateitypen

In [6]:
# variaable und wertezuweisung
name = "lovelace"
print(name)

lovelace

In [7]:
# string - zeichenkette
first_name ="ada"
#ganzzahl
age = 73
print(age)
# kommazahl
size=(1.55)
knows_math = True
print(knows_math)
likes_slacking = False
print(likes_slacking)

73
True
False

In [8]:
type(age)

int

In [9]:
# addition
5 + 5

10

In [10]:
# multiplikation
age * 100

7300

In [11]:
name + "10"

'lovelace10'

In [12]:
size/age

0.021232876712328767

1.4. methoden und funktionen

In [13]:
print(name)
len(name)

lovelace

8

In [14]:
name.upper()

'LOVELACE'

In [15]:
name_upper_case = name.upper()
print(name_upper_case)

LOVELACE

In [16]:
name_upper_case = name.upper

In [17]:
print(age)

73

In [18]:
name.replace("lace" , "is everywhere")

'loveis everywhere'

1.5. liste und dictionaries

In [19]:
# liste
names = ["lovelace", "darwin", "curie", "hawking"]

In [20]:
names[2]

'curie'

In [21]:
names[-1]

'hawking'

In [22]:
# 0 ist inklusiv 3 ist exklusiv 
names[0:3]

['lovelace', 'darwin', 'curie']

In [23]:
# slicing
names[:2]

['lovelace', 'darwin']

In [24]:
# dictionaries
authors_and_birth_years = {"lovelace": 1882, "darwin": 1809, "curie": 1834, "hawking": 1948}

In [25]:
authors_and_birth_years["darwin"]

1809

In [26]:
authors_and_birth_years["darwin"]

1809

In [27]:
type(authors_and_birth_years)

dict

In [28]:
for last_name in names:
    print(last_name + " tat denkwürdige sachen")
print("-------")

lovelace tat denkwürdige sachen
darwin tat denkwürdige sachen
curie tat denkwürdige sachen
hawking tat denkwürdige sachen
-------

In [29]:
authors_and_birth_years.keys()

dict_keys(['lovelace', 'darwin', 'curie', 'hawking'])

In [30]:
for kernname in authors_and_birth_years.values():
    print(kernname)

1882
1809
1834
1948

1.6 bedingte anweisungen

In [47]:
temp = 22
if temp > 25:
    print( "za worm")
elif temp > 15:
    print("fein")
else:
    print("kolt")

fein

In [43]:
print("hello")

hello

In [33]:
warm = "Warm"
print(warm)

Warm

In [1]:
print("huhu")

huhu